.searchBox {
  display: flex;
  position: relative;

  label {
    width: 55%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 530;
    text-shadow: 2px 2px black;
  }

  input {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    border-radius: 2px;

    &[placeholder] {
      text-align: center;
    }
  }
}
