.container {
  padding: 20px 14px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 3px black solid;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(20, 20, 20, 0.05),
    0 4px 12px -4px rgba(20, 20, 20, 0.2);

  img {
    height: 220px;
    display: block;
    margin: 0 auto;
  }

  .beer {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    color: #333;
    background-color: orange;
    list-style: none;

    img {
      width: 90px;
      height: 200px;
    }
  }
}
