.container {
  // margin-top: 50px;
  padding: 20px 14px;
  text-align: center;
  width: 80%;
  margin: 50px auto 0 auto;
  border: 3px black solid;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(20, 20, 20, 0.05),
    0 4px 12px -4px rgba(20, 20, 20, 0.2);
  // background-color: rgb(201?, 248, 238);

  h2 {
    color: orange;
    font-size: 40px;
    height: 50px;
  }
  img {
    height: 250px;
    display: block;
    margin: 0 auto;
  }

  p {
    height: 150px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // span {
  //   height: 100px;
  //   width: 120px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-weight: 900;
  //   border-right: black solid 2px;
  // }
}
