section {
  .titleContainer {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #178b8f;
    border: black solid 5px;
    border-radius: 20px;
    color: #f0f0f0;
    padding: 24px;

    .title {
      margin: 0 auto;
      font-size: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
