.navbar {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: #178b8f;
  border: black solid 5px;
  color: #f0f0f0;
  padding: 24px;

  .titleContainer {
    width: 25%;
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
